.idea/
.gradle/
*.iml
build/
.settings/
.classpath
.project
bin/
config/perry-cognito-local.yml
src/test/resources/scripts/cognito/idm.groovy
src/test/resources/scripts/cognito/cognito.groovy
src/test/resources/scripts/default/default.groovy
