#perry
DEV_MODE=false
COGNITO_MODE=true
IDM_MODE=true
LOG_LEVEL=INFO
SWAGGER=true

COGNITO_IAM_ACCESS_ID=
COGNITO_IAM_SECRET=
COGNITO_REGION=us-east-2
COGNITO_USERPOOL=us-east-2_O6J5giLUg

IDP_MAPPING_SCRIPT=config/cognito.groovy

DORA_URL=
ES_USER_INDEX=users
ES_USER_TYPE=user

#cals-db2-data
LOGLEVEL=INFO
DB_CMS_DB2_HOST=cals_db2_data
DB_CMS_DB2_PORT=50000
DB_CMS_JDBC_URL=jdbc:db2://cals_db2_data:${DB_CMS_DB2_PORT}/DB0TDEV
DB_CMS_SCHEMA=CWSINT
DB_CMS_PASSWORD=


#postgress
DB_POSTGRES_PORT=5432
TOKEN_STORE_JDBC_URL=jdbc:postgresql://postgresql_data:5432/postgres_data
TOKEN_STORE_DB_USER=
TOKEN_STORE_DB_PASSWORD=


SAF_CLIENT_ID=
SAF_CLIENT_SECRET=
SAF_RETRIEVE_TOKEN_PATH=https://newcapdevcwds.auth.us-east-2.amazoncognito.com/oauth2/token
SAF_AUTH_PATH=https://newcapdevcwds.auth.us-east-2.amazoncognito.com/login
TOKEN_NAME=access_token

SAF_USER_INFO_URI=https://cognito-idp.us-east-2.amazonaws.com
SAF_VALIDATE_TOKEN_URI=https://cognito-idp.us-east-2.amazonaws.com
SAF_LOGOUT_URI=https://newcapdevcwds.auth.us-east-2.amazoncognito.com/logout
SAF_REVOKE_TOKEN_URI=https://newcapdevcwds.auth.us-east-2.amazoncognito.com/logout